@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

@layer base {

    body {
        @apply text-primary;
    }

    main {
        background-color: #F5F7FB;
        background-image: url("./img/yellow-blobs.png"), url("./img/blue-blobs.png");
        background-repeat: no-repeat, no-repeat;
        background-size: 25%; 
        background-position: top right, left bottom ;
    }
}

@layer components {

    .option-btn {
        @apply transition-all px-3 py-1 border border-primary rounded-xl mb-4 text-[10.24px] font-inter font-medium hover:bg-tertiary hover:text-primary hover:tracking-wider hover:border-0 hover:cursor-pointer sm:px-1;
    }

    .answer-btn {
        @apply transition-all px-3 py-1 border border-primary rounded-xl mb-4 text-[10.24px] font-inter font-medium sm:px-1;
    }
}    